<h1>Reset your precious password</h1>

<p>To reset your precious password, click with all your force on the link below. (If you click too gently it will not work)</p>

<%= link_to "Hit me hard", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>This precious link will expire in EXACTLY TWO HOURS.</p>
<p>Time starts NOW.</p>
<p>
  If you didn't request Hababa's help on restoring your password, just ignore it and Hababa will not be angry.
</p>
